# macOS
.DS_Store
**/.DS_Store

# All data files except boundaries
data-raw/cdc-places/
data-raw/county-health-rankings/
data-raw/hrsa/
data-raw/usda/
data-raw/census/

logs/
*.log
data-processed/*.csv
healthcare_disparities_analytics/logs/
healthcare_disparities_analytics/target/
healthcare_disparities_analytics/dbt_packages/
